<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/show-table.css">
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a class="" href="http://localhost:9001/">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a href="/show">Show</a></li>
        </ul>
    </div>

    <table>
        <thead>
            <tr>
                <th>MongoId</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>IdNo</th>
                <th>image</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <% showuserdetails.forEach((student)=> { %>
                <tr>
                    <td><%- student._id %></td>
                    <td><%- student.firstname %></td>
                    <td><%- student.lastname %></td>
                    <td><%- student.email %></td>
                    <td><%- student.idno %></td>
                    <td><img src="" alt=""></td>


                    <td class="container-2">
                        <div class="button">
                            <a href="/edit/<%= student._id %>">
                                <span class="blue">View</span>
                            </a>
                        </div>
                        <div class="button">
                            <a href="/delete/<%= student._id %>">
                                <span class="pink">Delete</span>
                            </a>
                        </div>

                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>